<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
        <% server.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meta %>
    <%= form.text_area :meta %>
  </div>

  <div class="field">
    <%= form.label :provider_id %>
    <%= form.text_field :provider_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
