<div class="md:grid md:grid-cols-3 md:gap-6">
  <div class="md:col-span-1">
    <div class="px-4 sm:px-0">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Main Info</h3>
      <p class="mt-1 text-sm leading-5 text-gray-600">
        Select the name and the provider for the server
      </p>
    </div>
  </div>
  <div class="mt-5 md:mt-0 md:col-span-2">

    <%= form_with(model: server, local: true) do |form| %>
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 bg-white sm:p-6">

          <% if server.errors.any? %>
            <%= render "errors", errors: server.errors %>
          <% end %>

          <div class="grid grid-cols-3 gap-6">
            <div class="col-span-3 sm:col-span-2">
              <%= form.label :name, class: "block text-sm font-medium leading-5 text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <%= form.text_field :name, placeholder: "my server name", class: "form-input flex-1 block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5"%>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <label for="about" class="block text-sm leading-5 font-medium text-gray-700">
              Description
            </label>
            <div class="rounded-md shadow-sm">
              <textarea id="about" rows="3" class="form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" placeholder="About this server"></textarea>
            </div>
          </div>

          <div class="mt-6 grid grid-cols-3 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium leading-5 text-gray-700">Provider</label>
              <select id="country" class="mt-1 block form-select w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                <option>AWS</option>
                <option>DO</option>
              </select>
            </div>
          </div>
        </div>

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <span class="inline-flex rounded-md shadow-sm">
            <%= form.button "Save", class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
