<% nav_menu(:servers) %>
<%# render 'form', server: @server %>

<%= render "main_form", server: @server %>

<%= render "separator" %>

<%= render "aws_credentials_form" %>

<%= render "separator" %>

<%= render "aws_config_form" %>
