<% nav_menu(:servers) %>

<%= description_card @server.name, @server.description do %>
  <%= description_card_row 'Url', @server.url, top_border: false %>
  <%= description_card_row 'Deployed at', @server.created_at %>
  <%= description_card_row 'State', @server.state %>
<% end %>
