<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
        <% app.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :meta %>
    <%= form.text_area :meta %>
  </div>

  <div class="field">
    <%= form.label :server_id %>
    <%= form.text_field :server_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
