<% nav_menu(:apps) %>

<%= description_card @app.name, @app.description do %>
  <%= description_card_row 'Prefix', @app.prefix, top_border: false %>
  <%= description_card_row 'Deployed at', @app.created_at %>
  <%= description_card_row 'State', @app.state %>
<% end %>
